/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-font: 'IBM Plex mono', sans-serif;
  --page-padding: 10px;
  --body-gap: 40px;
  --main-gap: 50px;
  --text-color: #F1B2CE;
  --title-text-color: #DB00FF;
  --accent-color: #FF0070;
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
}